<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @score.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @score.number %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @score.grade %>
</p>

<p>
  <strong>Process:</strong>
  <%= @score.process %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
